doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        title Desafio con PUG
    body
        h2 LISTADO DE PRODUCTOS

    if productos.length

        table(class="table")
            thead
                tr
                    th(scope="col")
                    th(scope="col") Nombre
                    th(scope="col") Precio ($)
                    th(scope="col") Imagen

            tbody

            each producto in productos

                tr
                    td=producto.id
                    td=producto.title
                    td=producto.price
                    td
                        img(src=producto.thumbnail style="width: 40px; height: 40px;")


    else
       h2  No se encontraron datos.


    a(class="btn btn-primary" href="/") Volver al formulario