    <h2>LISTADO DE PRODUCTOS</h2>

    {{#if productos.length }}
    
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio ($)</th>
              <th scope="col">Imagen</th>
            </tr>
          </thead>
          <tbody>

            {{#each productos }}

            <tr>
              <th>{{this.id}}</th>
              <td>{{this.title}}</td>
              <td>{{this.price}}</td>
              <td><img src={{this.thumbnail}} style="width: 40px; height: 40px;"</td>
            </tr>

            {{/each}} 

          </tbody>
        </table>

      {{else}}
        No se encontraron datos.
      {{/if}}

      <a class="btn btn-primary" href="/">Volver al formulario</a>